---
layout: default
---

<div class="profile">
  <img src="{{ page.image }}" alt="{{ page.name }}" style="width: 250px; height: 270px; object-fit: cover;">
  <h2>{{ page.name }}</h2>
  <p>{{ page.position }}</p>
  <div>
    {{ content }}
  </div>
  <div>
    {% if page.linkedin %}
      <a href="{{ page.linkedin }}" target="_blank" title="LinkedIn">
        <i class="fa-brands fa-linkedin" style="font-size: 20px; margin-right: 10px;"></i>
      </a>
    {% endif %}
    {% if page.scholar %}
      <a href="{{ page.scholar }}" target="_blank" title="Google Scholar">
        <i class="fa-brands fa-google" style="font-size: 20px;"></i>
      </a>
    {% endif %}
  </div>
</div>
